<div class="main">

    <mat-toolbar color="primary" class="main-toolbar">
        <button mat-icon-button (click)="sidebar.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{ 'title' | translate }}</span>
    </mat-toolbar>
    
    <mat-drawer-container autosize class="main-sidebar">
        <mat-drawer #sidebar mode="side">
            <mat-nav-list>
                <mat-list-item *ngFor="let section of sections">
                    <div class="main-sidebar-link">
                        <mat-icon>{{ section.icon }}</mat-icon>
                        <a *ngIf="!section.param; else regularLink" matLine
                            [routerLink]="['dashboard', section.link]">
                            {{ 'sections.' + section.link | translate }}
                        </a>
                        <ng-template #regularLink>
                            <a matLine
                            [routerLink]="['dashboard', section.link, section.param]">
                            {{ 'sections.' + section.link | translate }}
                            </a>
                        </ng-template>
                    </div>
                </mat-list-item>
            </mat-nav-list>
        </mat-drawer>
        <div class="main-body">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>

</div>