<div class="user-info">
    
    <mat-card class="user-info-card">
        <mat-icon>person</mat-icon>
        <mat-card-content>
            <p> <span> {{ 'user.username' | translate }} </span>{{ user.userName }} </p>
            <p> <span> {{ 'user.email' | translate }} </span>{{ user.email }} </p>
            <p> <span> {{ 'user.fullName' | translate }} </span>{{ user.fullName }} </p>
            <p> <span> {{ 'user.role' | translate }} </span>{{ user.role }} </p>
        </mat-card-content>
    </mat-card>

</div>
