
<mat-grid-list [cols]="colsBreakpoint" [rowHeight]="highBreakpoint + ':' + lowBreakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile
        *ngFor="let product of productsList">
        <div class="grid">
            <p>{{ product?.name }}</p>
            <ul class="grid-content">
                <li>{{ 'product.product-price' | translate }}: <span>{{ product?.price | number : '1.2-2' }}</span></li>
            </ul>
            <div class="grid-button">
                <button mat-icon-button color="primary" (click)="deleteProduct(product.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>

    </mat-grid-tile>
</mat-grid-list>
